<h2>Sitzplatz auswählen</h2>
<br/>

<div>
  <h5>Deine Auswahl:</h5>
</div>
<table style="width:24rem">
  <thead>
  <tr>
    <th>Bezeichnung</th>
    <th>Kategorie</th>
    <th>Preis</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Reihe 7 Platz 5</td>
    <td>A</td>
    <td>15€</td>
  </tr>
    <tr>
    <td>Reihe 7 Platz 6</td>
    <td>A</td>
    <td>15€</td>
  </tr>
  <tr style="border-top: 1px solid black">
    <th></th>
    <th>Summe</th>
    <th>30€</th>
  </tr>
  </tbody>
</table>

<br/>
<br/>
<app-hall-view></app-hall-view>

