<app-content-header header-text="My profile"></app-content-header>

<div class="page-container">

  <div class="container">

    <div class="div-container">
      <label class="font-weight-bold">Name</label>
      <input type="text" >
    </div>
    <div class="div-container">
      <label class="font-weight-bold">Email</label>
      <input type="text" >
    </div>

    <div class="div-container">
      <label class="font-weight-bold">Password</label>
      <input type="text" >
    </div>

    <div class="div-container">
      <label class="font-weight-bold">Repeat Password</label>
      <input type="text" >
    </div>


    <div class="div-button">
      <button >Save</button>
    </div>

    <div class="div-container">
      <h3>Permanently delete your profile. Your profile can not be restored.</h3>
    </div>


    <div class="div-button">
      <button>Delete my Profile</button>
    </div>
  </div>
</div>
