<div class="row">
  <div class="col">
    <h3>Stornorechnung 24.05.2020</h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Firma<br>
    Muster Branche GmbH<br>
    Max Musterman<br>
    Musterstraße 34<br>
    4567 Musterdorf<br>
  </div>
</div>
<div class="row">
  <div class="col-12 text-right">
    <b>Ursprüngliches Rechnungsdatum: ...</b><br>
    <b>Verwendete Zahlungsart: ...</b><br>
  </div>
</div>
<div class="row r-nr">
  <div class="col-12">
    <b>Gutschrift zur Rechnung Nr.: ...</b>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Folgende beträge werden Ihenen gutgeschrieben:<br>
    Für die Gutschrift wird die ursprüngliche Zahlungsmethode verwendet sofern nicht anders mit dem Dienstleister vereinbart.
  </div>
</div>
<div class="row data">
  <div class="col-12">
    <table class="table">
      <tr>
        <th>Beschreibung</th>
        <th>Menge</th>
        <th>Preis</th>
        <th>Netto</th>
      </tr>
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
    </table>
  </div>
</div>
<div class="row sub-info">
  <div class="col-6">
    Mustermann GmbH<br>
    Musterstraße 1<br>
    0123 Musterstadt<br>
  </div>
  <div class="col-6">
    Tel.: 0123456789<br>
    E-Mail: max.mustermann@gmail.com<br>
    Web: www.maxmusterman.com<br>
  </div>
</div>
