<div class="row">
  <div class="col">
    <h3>Rechnung 24.05.2020</h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Firma<br>
    Muster Branche GmbH<br>
    Max Musterman<br>
    Musterstraße 34<br>
    4567 Musterdorf<br>
  </div>
</div>
<div class="row">
  <div class="col-12 text-right">
    <b>Rechnungsdatum: ...</b><br>
    <b>Liefer- bzw. Leistungsdatum: ...</b><br>
    <b>Ust-IdNr.: ...</b><br>
  </div>
</div>
<div class="row r-nr">
  <div class="col-12">
    <b>Rechnung Nr.: ...</b>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Sehr geehrte Damen und Herren,<br><br>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
  </div>
</div>
<div class="row data">
  <div class="col-12">
    <table class="table">
      <tr>
        <th>Beschreibung</th>
        <th>Menge</th>
        <th>Preis</th>
        <th>Netto</th>
      </tr>
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
    </table>
  </div>
</div>
<div class="row sub-info">
  <div class="col-4">
    Mustermann GmbH<br>
    Musterstraße 1<br>
    0123 Musterstadt<br>
  </div>
  <div class="col-4">
    Tel.: 0123456789<br>
    E-Mail: max.mustermann@gmail.com<br>
    Web: www.maxmusterman.com<br>
  </div>
  <div class="col-4">
    Musterbank Musterstadt<br>
    BLZ: 43527<br>
    IBAN: AT283712893712873213<br>
    BIC: SDMANDJSA13123<br>
  </div>
</div>
