<div class="row pt-5">
  <div class="col-lg-9 mx-auto">
    <div class="card rounded-0">

      <div class="card-header">
        <h3 class="mb-0">{{ formTitle }}</h3>
      </div>

      <div class="card-body">
        <ng-content></ng-content>
        <button class="btn btn-success float-right" (click)="onSubmit.emit()">Submit</button>
        <button *ngIf="backLink != null" type="button" class="btn btn-secondary  float-left" data-dismiss="modal" [routerLink]="backLink">Go back</button>
      </div>

    </div>
  </div>
</div>
